<!doctype html>
<html lang="{{ site.lang | default: " en-GB " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
</head>

<body>
    <header class="page-header" role="banner">
        <h1 class="project-name">Fluid Dimensions Documentation</h1>
    </header>
    <main id="content" class="main-content" role="main">
        <a href="https://fludim.github.io/docs/features/">Features</a> | <a href="https://fludim.github.io/docs/Devblog">Development Blog</a> | <a href="https://fludim.github.io/download/">Download</a>
        {{ content }}
        
        <footer class="site-footer">
            2021 <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </footer>
    </main>
</body>

</html>