<!doctype html>
<html lang="{{ site.lang | default: " en-GB " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
</head>

<body>
    <header class="page-header" role="banner">
        <div class="nav-bar">
            <h1 class="project-name">Fluid Dimensions Wiki</h1>
            <ul>
                <li><a href="https://fludim.github.io/docs">Home</a></li>
                <li><a href="https://fludim.github.io/docs/features">Features</a></li>
                <li><a href="https://fludim.github.io/docs/devblog">Development Blog</a></li>
                <li><a href="https://fludim.github.io/docs/download">Download</a></li>
            </ul>
        </div>
    </header>
    <main id="content" class="main-content" role="main">

        {{ content }}
        
        <footer class="site-footer">
            <button onclick="goToTop()" id="top-button" title="Top">Top</button>
            <p>2021 by <a href="{{ site.github.owner_url }}">DylzDC</a></p>
        </footer>
    </main>
    <script>
        button = document.getElementById("top-button");

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                button.style.display = "block";
            } else {
                button.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0; // Safari
            document.documentElement.scrollTop = 0; // Chrome, Firefox, IE, Opera
        }
    </script>
</body>

